[submodule "src/interpeter"]
	path = src/interpeter
	url = git@github.com:AdeRegt/Stapel.git
[submodule "src/bootloader/efi"]
	path = src/bootloader/efi
	url = https://github.com/AdeRegt/EFIBootloader.git
[submodule "src/bootloader/grub"]
	path = src/bootloader/grub
	url = https://github.com/AdeRegt/Trampoline.git
